body {
  font-family: Arial;
  text-align: center;
  background: #e0f7fa;
}

input {
  padding: 10px;
  width: 200px;
}

button {
  padding: 10px;
  margin-left: 5px;
}

#weatherResult {
  margin-top: 20px;
  font-size: 18px;
}
